In [2]:
import pandas as pd

comp=pd.read_csv("computer_hardware_dataset.csv")
comp.head()

  vendor_name model_name  MYCT  MMIN   MMAX  CACH  CHMIN  CHMAX  PRP  ERP
0     adviser      32/60   125   256   6000   256     16    128  198  199
1      amdahl     470v/7    29  8000  32000    32      8     32  269  253
2      amdahl    470v/7a    29  8000  32000    32      8     32  220  253
3      amdahl    470v/7b    29  8000  32000    32      8     32  172  253
4      amdahl    470v/7c    29  8000  16000    32      8     16  132  132

In [6]:
comp["PRP"].between(100,230)

0       True
1      False
2       True
3       True
4       True
       ...
204    False
205    False
206    False
207    False
208    False
Name: PRP, Length: 209, dtype: bool

In [7]:
comp[comp["PRP"].between(100,230)]

,vendor_name,model_name,MYCT,MMIN,MMAX,CACH,CHMIN,CHMAX,PRP,ERP
0,adviser,32/60,125,256,6000,256,16,128,198,199
2,amdahl,470v/7a,29,8000,32000,32,8,32,220,253
3,amdahl,470v/7b,29,8000,32000,32,8,32,172,253
4,amdahl,470v/7c,29,8000,16000,32,8,16,132,132
13,basf,7/68,50,4000,16000,65,1,8,138,117
19,burroughs,b4955,110,5000,5000,142,8,64,120,124
34,cdc,cyber:170/835,56,5240,20970,30,12,24,106,138
35,cdc,cyber:170/845,64,5240,20970,30,12,24,208,136
52,dg,eclipse:mv/10000,140,1000,16000,16,1,3,138,72
63,gould,concept:32/8705,75,2000,8000,64,1,38,144,75
64,gould,concept:32/8750,75,2000,16000,64,1,38,144,113
88,honeywell,dps:8/49,140,2000,32000,32,1,20,134,175
90,honeywell,dps:8/52,140,2000,32000,32,1,54,141,181
91,honeywell,dps:8/62,140,2000,32000,32,1,54,189,181
93,ibm,3033:s,57,4000,16000,1,6,12,132,82
98,ibm,3083:e,26,8000,16000,0,8,16,185,113
120,ibm,4381-1,17,4000,16000,8,6,12,100,101
121,ibm,4381-2,17,4000,16000,32,6,12,133,116
130,ipl,4480,50,8000,16000,48,1,10,136,128
147,nas,as/6650,50,4000,16000,64,5,10,111,119
148,nas,as/7000,72,4000,16000,64,8,16,143,120
149,nas,as/7000-n,72,2000,8000,16,6,8,105,48
150,nas,as/8040,40,8000,16000,32,8,16,214,126
154,nas,as/9000-n,48,4000,24000,32,8,24,214,151
166,ncr,v8650,38,4000,8000,32,16,32,116,80
167,ncr,v8655,38,8000,16000,64,4,8,100,142
168,ncr,v8665,38,8000,24000,160,4,8,140,281
169,ncr,v8670,38,4000,16000,128,16,32,212,190
180,prime,50-850-ii,160,2000,8000,32,1,13,109,53
186,siemens,7.561,52,4000,16000,32,4,12,130,99
188,siemens,7.870-2,59,4000,12000,32,6,12,113,81
189,siemens,7.872-2,59,8000,16000,64,12,24,188,149
190,siemens,7.875-2,26,8000,24000,32,8,16,173,183
194,sperry,1100/81,50,2000,32000,24,6,26,114,182
195,sperry,1100/82,50,2000,32000,48,26,52,208,227

In [9]:
comp["CHMAX"].between(100,105)

0      False
1      False
2      False
3      False
4      False
       ...
204    False
205    False
206    False
207    False
208    False
Name: CHMAX, Length: 209, dtype: bool

In [10]:
comp[comp["CHMAX"].between(100,105)]

    vendor_name model_name  MYCT  MMIN   MMAX  CACH  CHMIN  CHMAX  PRP  ERP
196      sperry    1100/83    50  2000  32000   112     52    104  307  341
197      sperry    1100/84    50  4000  32000   112     52    104  397  360