In [3]:
import pandas as pd

bank=pd.read_csv("bank_marketing_dataset.csv")
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79.0,1,-1.0,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220.0,1,339.0,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185.0,1,330.0,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199.0,4,-1.0,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226.0,1,-1.0,0,unknown,no

In [7]:
bank["balance"].add(50)

0       1837
1       4839
2       1400
3       1526
4         50
        ...
4516    -283
4517   -3263
4518     345
4519    1187
4520    1186
Name: balance, Length: 4521, dtype: int64

In [9]:
bank["balance"]+50

0       1837
1       4839
2       1400
3       1526
4         50
        ...
4516    -283
4517   -3263
4518     345
4519    1187
4520    1186
Name: balance, Length: 4521, dtype: int64

In [11]:
bank["duration"].sub(10)

0        69.0
1       210.0
2       175.0
3       189.0
4       216.0
        ...
4516    319.0
4517    143.0
4518    141.0
4519    119.0
4520    335.0
Name: duration, Length: 4521, dtype: float64

In [12]:
bank["duration"]-10

0        69.0
1       210.0
2       175.0
3       189.0
4       216.0
        ...
4516    319.0
4517    143.0
4518    141.0
4519    119.0
4520    335.0
Name: duration, Length: 4521, dtype: float64