In [38]:
import pandas as pd

bank=pd.read_csv("bank_marketing_dataset.csv",squeeze=True,usecols=["job","marital"],index_col=("job"))

bank

job
unemployed       married
services         married
management        single
management       married
blue-collar      married
                  ...
services         married
self-employed    married
technician       married
blue-collar      married
entrepreneur      single
Name: marital, Length: 4521, dtype: object

In [29]:
bank.head(5)

job
unemployed     married
services       married
management      single
management     married
blue-collar    married
Name: marital, dtype: object

In [31]:
bank[1]

'married'

In [33]:
bank[3]

'married'

In [43]:
bank["services"]

services    married
services    married
services    married
services    married
services     single
             ...
services    married
services    married
services    married
services     single
services    married
Name: marital, Length: 417, dtype: object

In [51]:
bank[["services","management"]].head(60)

job
services     married
services     married
services     married
services     married
services      single
services      single
services     married
services     married
services     married
services     married
services      single
services      single
services     married
services    divorced
services     married
services      single
services     married
services      single
services     married
services     married
services      single
services     married
services      single
services    divorced
services     married
services     married
services     married
services      single
services     married
services     married
services      single
services      single
services     married
services     married
services      single
services      single
services      single
services     married
services    divorced
services    divorced
services     married
services     married
services     married
services      single
services     married
services     married
services    divorced
services     married
services     married
services      single
services      single
services     married
services      single
services      single
services     married
services     married
services     married
services      single
services     married
services     married
Name: marital, dtype: object

In [58]:
bank[:30]

job
unemployed        married
services          married
management         single
management        married
blue-collar       married
management         single
self-employed     married
technician        married
entrepreneur      married
services          married
services          married
admin.            married
technician        married
student            single
blue-collar       married
management        married
technician        married
admin.             single
blue-collar        single
services          married
management       divorced
management       divorced
services           single
entrepreneur      married
housemaid         married
management        married
blue-collar       married
retired           married
self-employed     married
admin.            married
Name: marital, dtype: object