In [5]:
import pandas as pd

comp=pd.read_csv("bank_marketing_dataset.csv")
comp.head()

   age          job  marital  education default  balance  ... duration campaign  pdays  previous poutcome   y
0   30   unemployed  married    primary      no     1787  ...     79.0        1   -1.0         0  unknown  no
1   33     services  married  secondary      no     4789  ...    220.0        1  339.0         4  failure  no
2   35   management   single   tertiary      no     1350  ...    185.0        1  330.0         1  failure  no
3   30   management  married   tertiary      no     1476  ...    199.0        4   -1.0         0  unknown  no
4   59  blue-collar  married  secondary      no        0  ...    226.0        1   -1.0         0  unknown  no

[5 rows x 17 columns]

In [7]:
comp.iloc[3]

age                  30
job          management
marital         married
education      tertiary
default              no
balance            1476
housing             yes
loan                yes
contact         unknown
day                   3
month               jun
duration            199
campaign              4
pdays                -1
previous              0
poutcome        unknown
y                    no
Name: 3, dtype: object