In [4]:
import pandas as pd

cost=pd.read_csv("consumers-price-index-March20-index-numbers-csv-tables.csv",squeeze=True,usecols=["Series_reference","Period"])
cost.head(15)

   Series_reference   Period
0        CPIQ.SE901  1914.06
1        CPIQ.SE901  1914.09
2        CPIQ.SE901  1914.12
3        CPIQ.SE901  1915.03
4        CPIQ.SE901  1915.06
5        CPIQ.SE901  1915.09
6        CPIQ.SE901  1915.12
7        CPIQ.SE901  1916.03
8        CPIQ.SE901  1916.06
9        CPIQ.SE901  1916.09
10       CPIQ.SE901  1916.12
11       CPIQ.SE901  1917.03
12       CPIQ.SE901  1917.06
13       CPIQ.SE901  1917.09
14       CPIQ.SE901  1917.12