In [1]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression
import time
import pandas as pd

In [15]:
data = pd.read_csv('house_price.csv')
data = data.iloc[:,1:8]
data.head()

       Location  BHK  Furnishing  Sq.ft  Old(years)  Floor  Price
0  Bommanahalli    3           1   3000           1      3  28000
1  Bommanahalli    3           1   1650          10      0  18000
2    Whitefield    2           0   1000           5      3  16400
3    Whitefield    3           0   1600           1      9  27000
4    Whitefield    2           1   1200           5      1  20000

In [16]:
label_enc = LabelEncoder()
data.iloc[:,0] = label_enc.fit_transform(data.iloc[:,0])

In [17]:

X = data.drop('Price', axis=1)
y = data['Price']

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [19]:
lin=LinearRegression()
lin.fit(X_train,y_train)

LinearRegression()

In [20]:
pred = lin.predict(X_test)
r2_score(y_test, pred)

0.8363328095566656

In [21]:
pred[0]

36437.21270928802

In [24]:
y_train[0]

28000