In [52]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder

In [54]:
hous= pd.read_csv("Bengaluru_House_Data1.csv")

hous.drop(["availability","location","society"],axis=1,inplace=True)
hous.head()

              area_type       size total_sqft  bath  balcony  price
0  Super built-up  Area      2 BHK       1056     2        1     39
1            Plot  Area  4 Bedroom       2600     5        3    120
2        Built-up  Area      3 BHK       1440     2        3     62
3  Super built-up  Area      3 BHK       1521     3        1     95
4  Super built-up  Area      2 BHK       1200     2        1     51

In [56]:
hous.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area_type   13320 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   balcony     12711 non-null  float64
 5   price       13320 non-null  float64
dtypes: float64(3), object(3)
memory usage: 468.3+ KB

In [58]:
leb=LabelEncoder()
hous.iloc[:,0:1]=leb.fit_transform(hous.iloc[:,0])

In [60]:
leb=LabelEncoder()
hous.iloc[:,1]=leb.fit_transform(hous.iloc[:,0])

In [62]:
leb=LabelEncoder()
hous.iloc[:,2]=leb.fit_transform(hous.iloc[:,0])

In [64]:
hous.head()

   area_type  size  total_sqft  bath  balcony  price
0          3     3           3     2        1     39
1          2     2           2     5        3    120
2          0     0           0     2        3     62
3          3     3           3     3        1     95
4          3     3           3     2        1     51

In [66]:
hous.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area_type   13320 non-null  int32
 1   size        13320 non-null  int32
 2   total_sqft  13320 non-null  int32
 3   bath        13247 non-null  float64
 4   balcony     12711 non-null  float64
 5   price       13320 non-null  float64
dtypes: float64(3), int32(3)
memory usage: 468.3 KB

In [68]:
hous=hous.replace("[^\d.]","",regex=True).astype(float)

In [70]:
hous.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area_type   13320 non-null  float64
 1   size        13320 non-null  float64
 2   total_sqft  13320 non-null  float64
 3   bath        13247 non-null  float64
 4   balcony     12711 non-null  float64
 5   price       13320 non-null  float64
dtypes: float64(6)
memory usage: 624.4 KB

In [72]:
real_x=hous.iloc[:,:5]
real_y=hous.iloc[:,5]
real_x
real_y

0        39
1       120
2        62
3        95
4        51
         ..
13315   231
13316   400
13317    60
13318   488
13319    17
Name: price, Length: 13320, dtype: float64

In [74]:
trian_x,test_x,trian_y,test_y=train_test_split(real_x,real_y,test_size=0.3,random_state=0)

In [76]:
trian_x

       area_type  size  total_sqft  bath  balcony
7532           0     0           0     2        1
3887           3     3           3     2        2
181            3     3           3     3        2
9641           2     2           2     3        0
7174           0     0           0     2        0
...          ...   ...         ...   ...      ...
13123          3     3           3     2        2
3264           3     3           3     3        0
9845           2     2           2     1        0
10799          2     2           2     6        1
2732           3     3           3     2        1

[9324 rows x 5 columns]

In [78]:
test_x

       area_type  size  total_sqft  bath  balcony
1457           3     3           3     2        2
13282          3     3           3     3        2
1069           2     2           2     2        1
308            3     3           3     4        3
8488           3     3           3     3        3
...          ...   ...         ...   ...      ...
385            3     3           3     2        1
3170           3     3           3     2        1
6718           3     3           3     2        3
44             3     3           3     2        2
965            3     3           3     3        3

[3996 rows x 5 columns]

In [87]:
hous=hous.replace("[^\d.]","",regex=True).astype(str)

In [91]:
lin=LinearRegression()
lin.fit(trian_x,trian_y)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
pred=lin.predict(test_x)

pred[5]

In [ ]:
from joblib import dump, load
dump(lin, 'vasimtest1.joblib')

In [ ]:
from joblib import dump, load
import numpy as np

a1 =int(input("area_type ="))
b2 =int(input("size ="))
c3 =int(input("total_sqft="))
d4 =int(input("bath="))
e5 =int(input("balcony ="))


model = load('vasim11.joblib') 
features = np.array([[

    a1,
    b2,
    c3,
    d4,
    e5
    ]])
a=model.predict(features)
print(f"CR.{a}")