In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder 
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsClassifier

In [2]:

hous=pd.read_csv("Book2.csv")
hous.head(15)

# hous.drop(["yo"],axis=1,inplace=True)
# hous.head()

,1no,2no,3no,4no,5no,total
0,15.00000,56.00000,6545.000000,6.640000e+02,210.000,7490.000
1,15.00000,25.00000,26.000000,5.450000e+02,5456.000,6067.000
2,88.00000,55.00000,54.000000,5.540000e+02,55656.000,56407.000
3,151.00000,65646.00000,8484.000000,1.345840e+05,664.000,209529.000
4,6546.00000,66416.00000,6464.000000,6.516410e+05,6465464.000,7196531.000
5,54464.00000,64646.00000,8484.000000,1.321310e+05,13213.000,272938.000
6,39403.26667,91578.73333,8753.400000,4.278185e+05,3029115.200,3596669.067
7,47743.29524,108370.56190,9823.085714,5.062371e+05,3583116.543,4255290.610
8,56083.32381,125162.39050,10892.771430,5.846558e+05,4137117.886,4913912.152
9,64423.35238,141954.21900,11962.457140,6.630744e+05,4691119.229,5572533.695
10,72763.38095,158746.04760,13032.142860,7.414931e+05,5245120.571,6231155.238
11,81103.40952,175537.87620,14101.828570,8.199118e+05,5799121.914,6889776.781
12,89443.43810,192329.70480,15171.514290,8.983304e+05,6353123.257,7548398.324
13,97783.46667,209121.53330,16241.200000,9.767491e+05,6907124.600,8207019.867
14,106123.49520,225913.36190,17310.885710,1.055168e+06,7461125.943,8865641.410

In [3]:

# label_enc = LabelEncoder()
# hous.iloc[:,0] = label_enc.fit_transform(hous.iloc[:,0])

In [4]:
# hous.head()

In [5]:
hous.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 562 entries, 0 to 561
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1no     562 non-null    float64
 1   2no     562 non-null    float64
 2   3no     562 non-null    float64
 3   4no     562 non-null    float64
 4   5no     562 non-null    float64
 5   total   562 non-null    float64
dtypes: float64(6)
memory usage: 26.4 KB

In [6]:
hous_c=hous.corr()
hous_c["total"].sort_values(ascending=False)

total    1.000000
5no      1.000000
4no      1.000000
2no      0.999998
3no      0.999996
1no      0.999995
Name: total, dtype: float64

In [7]:
real_x=hous.iloc[:,:5]
real_y=hous.iloc[:,5]
real_x
real_y

0           7490.0
1           6067.0
2          56407.0
3         209529.0
4        7196531.0
          ...
557    366497139.2
558    367155760.7
559    367814382.3
560    368473003.8
561    369131625.4
Name: total, Length: 562, dtype: float64

In [8]:
trian_x,test_x,trian_y,test_y=train_test_split(real_x,real_y,test_size=0.3,random_state=0)

In [9]:
trian_x.shape

(393, 5)

In [10]:
trian_y.shape

(393,)

In [11]:
test_x.shape

(169, 5)

In [12]:
test_y.shape

(169,)

In [13]:
lin=LinearRegression()
lin.fit(trian_x,trian_y)

LinearRegression()

In [14]:
# lin=DecisionTreeRegressor()
# lin.fit(trian_x,trian_y)

In [15]:
# lin=RandomForestRegressor()
# lin.fit(trian_x,trian_y)

In [16]:
# lin=KNeighborsClassifier(n_neighbors=6,metric='minkowski',p=2)
# # lin=KNeighborsClassifier()
# lin.fit(trian_x,trian_y)

In [17]:
pred=lin.predict(test_x)

pred[5]

289438418.67080903

In [18]:
# test_y[0]

In [19]:
from joblib import dump, load
dump(lin, 'vasim11.joblib')

['vasim11.joblib']

In [1]:
from joblib import dump, load
import numpy as np

a1 =int(input("1 ="))
b2 =int(input("2 ="))
c3 =int(input("3 ="))
d4 =int(input("4 ="))
e5 =int(input("5 ="))


model = load('vasim11.joblib') 
features = np.array([[

    a1,
    b2,
    c3,
    d4,
    e5
    ]])
a=model.predict(features)
print(f"CR.{a}")

1 =81103
2 =175537
3 =14101
4 =8
5 =5799121
CR.[6069867.8989702]

In [ ]:
51+54+54+565+151
81103.40952	175537.87620	14101.828570	8.199118e+05	5799121.914	6889776.781