In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder 
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsClassifier

In [2]:

hous=pd.read_csv("house_price.csv")
hous.head()

hous.drop(["yo"],axis=1,inplace=True)
hous.head()

       Location  BHK  Furnishing  Sq.ft  Old(years)  Floor  Price
0  Bommanahalli    3           1   3000           1      3  28000
1  Bommanahalli    3           1   1650          10      0  18000
2    Whitefield    2           0   1000           5      3  16400
3    Whitefield    3           0   1600           1      9  27000
4    Whitefield    2           1   1200           5      1  20000

In [3]:

label_enc = LabelEncoder()
hous.iloc[:,0] = label_enc.fit_transform(hous.iloc[:,0])

In [4]:
hous.head()

   Location  BHK  Furnishing  Sq.ft  Old(years)  Floor  Price
0         0    3           1   3000           1      3  28000
1         0    3           1   1650          10      0  18000
2         1    2           0   1000           5      3  16400
3         1    3           0   1600           1      9  27000
4         1    2           1   1200           5      1  20000

In [5]:
hous.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Location    1000 non-null   int32
 1   BHK         1000 non-null   int64
 2   Furnishing  1000 non-null   int64
 3   Sq.ft       1000 non-null   int64
 4   Old(years)  1000 non-null   int64
 5   Floor       1000 non-null   int64
 6   Price       1000 non-null   int64
dtypes: int32(1), int64(6)
memory usage: 50.8 KB

In [6]:
hous_c=hous.corr()
hous_c["Price"].sort_values(ascending=False)

Price         1.000000
Sq.ft         0.831104
BHK           0.633094
Floor         0.599192
Location      0.518486
Furnishing    0.018996
Old(years)   -0.304325
Name: Price, dtype: float64

In [7]:
real_x=hous.iloc[:,:6]
real_y=hous.iloc[:,6]
real_x
real_y

0      28000
1      18000
2      16400
3      27000
4      20000
       ...
995    25000
996    28000
997    16500
998    22000
999    30000
Name: Price, Length: 1000, dtype: int64

In [8]:
trian_x,test_x,trian_y,test_y=train_test_split(real_x,real_y,test_size=0.3,random_state=0)

In [9]:
trian_x.shape

(700, 6)

In [10]:
trian_y.shape

(700,)

In [11]:
test_x.shape

(300, 6)

In [12]:
test_y.shape

(300,)

In [13]:
lin=LinearRegression()
lin.fit(trian_x,trian_y)

LinearRegression()

In [14]:
# lin=DecisionTreeRegressor()
# lin.fit(trian_x,trian_y)

In [15]:
# lin=RandomForestRegressor()
# lin.fit(trian_x,trian_y)

In [16]:
# cls=KNeighborsClassifier(n_neighbors=6,metric='minkowski',p=2)
# # lin=KNeighborsClassifier()
# lin.fit(trian_x,trian_y)

In [17]:
pred=lin.predict(test_x)

pred[1]

21791.757297797885

In [18]:
test_y[1]

18000

In [19]:
from joblib import dump, load
dump(lin, 'vasim.joblib')

['vasim.joblib']

In [21]:
from joblib import dump, load
import numpy as np

Location=int(input("Location="))
BHK=int(input("BHK="))
Furnishing=int(input("Furnishing="))
Sq=int(input("Sq.ft="))
Old=int(input("Old(years)="))
Floor=int(input("Floor="))


model = load('vasim.joblib') 
features = np.array([[

    Location, 
    BHK,  
    Furnishing, 
    Sq,
    Old,
    Floor
    ]])
a=model.predict(features)
print(f"CR.{a}")

Location=2
BHK=3
Furnishing=1
Sq.ft=3000
Old(years)=1
Floor=3
CR.[44691.46134326]

In [ ]:
Bommanahalli	3	1	3000	1	3	28000